.Pantalla{
    width: 95vw;
    height: 100h;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 200px;

}

.Columnas{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;   
    background: #FFF;
    width: 100%;
}


.Columnas input {
    color: #887A7A;
    font-family: Archivo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    letter-spacing: 3.84px;
    display: flex;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-sizing: content-box;
    text-align: left;
    
}

.Logo p{
    display: flex;
    align-items: center;
    color: #E7B639;
    font-family: Archivo;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 40.96px;
}

.Logo{
    align-items: center;
    display: flex;
    padding: 7px 269px;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    background: #313130;
    filter: blur(2px);
    margin-bottom: 20px;
    height: 150px;
    
}

.Patas{
    display: flex;
    justify-content: flex-start;
    margin-left: 250px;
    width: 275px;
height: 252px;
flex-shrink: 0;
}

.FotoPerfil{
    align-items: center;
    display: flex;
    font-family: Archivo;
    text-align: center;
    margin-right: 150px;
}

.FotoPerfil img, input{
    margin-bottom: 30px;
}

.FotoPerfil p{
    font-size: 30px;
    color: #000;

}

.Crear{
    display: flex;
width: 388px;
padding: 22px 34px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 19px;
background: #F1C144;
margin-top: 30px;
}

.Crear button{
    color: #000;
font-family: Archivo;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.4px;
background-color: transparent;
border: none;
}