* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: #f5f5f5;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313130;
    padding: 20px 0;
    margin-bottom: 20px;
}

.Logo p {
    color: #E7B639;
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
    letter-spacing: 30.96px;
}

.Pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.Formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    height: 600px;
}

.Patas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.Columnas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 500px;
}

.Columnas p {
    color: #887A7A;
    font-size: 24px;
    padding: 15px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

.Crear {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25x;
    background-color: #F1C144;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 80px;
}

.Crear button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: Archivo, sans-serif;
    cursor: pointer;
}

.Crear button:hover {
    background-color: #e1a538;
}

.Crear button p{
    color: #000;
    border: none;
    box-shadow: none;
}

.FotoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.CuadroBlanco {
    width: 200px;
    height: 250px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
}

.FotoPerfil input {
    margin-top: 10px;
}

.ImagenTextoArchivo p {
    font-size: 18px;
    color: #000;
}

