* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: #f5f5f5;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313130;
    padding: 20px 0;
    margin-bottom: 20px;
}

.Logo p {
    color: #E7B639;
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
    letter-spacing: 30.96px;
}

.Pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.Formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
}

.Patas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
}

.Columnas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    width: 100%;
    max-width: 400px;
    align-items: center;
    margin-left: 250px;
}

.Columnas p{
    color: #000;
font-family: Archivo;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 8.96px;
}


.Columnas input {
    color: #887A7A;
    font-size: 24px;
    padding: 15px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

.Crear {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F1C144;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Crear button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: Archivo, sans-serif;
    cursor: pointer;
}

.Crear button:hover {
    background-color: #e1a538;
}

.FotoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.CuadroBlanco {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;
}

.FotoPerfil input {
    margin-top: 10px;
}

.ImagenTextoArchivo p {
    font-size: 18px;
    color: #000;
}

.Row{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.Patas{
    margin-bottom: 130px;
}

.Row2{
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.Row2 button {
    background-color: #e1a538;
    border: none;
    font-size: 24px;
    font-family: Archivo, sans-serif;
    cursor: pointer;
    border-radius: 15px;
    width: 430px;
    height: 100px;
}


.Row2 button:hover {
    background-color: #e1a538;
}

.Row2 p{
    white-space: nowrap;
    font-size: 60px;
    letter-spacing: 1.5px;
}

.Row2 button p{
    color: #000;
    border: none;
    box-shadow: none;
}

#contraseña{
    white-space: nowrap;
    width: 653px;
height: 44px;
flex-shrink: 0;
color: #000;
font-family: Kenia;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.84px;
margin-left: 150px;
margin-top: -40px;
cursor: pointer;
text-decoration: none;
}
