/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: #f5f5f5;
}

/* Logo */
.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313130;
    margin-bottom: 20px;
}

.Logo p {
    color: #E7B639;
    font-family: 'Archivo Black', sans-serif;
    font-size: 80px;
    letter-spacing: 30.96px;
}

/* Pantalla */
.Pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 77vh;
}

.Formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
    max-height: 600px;
}

.Columnas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 50%;
    max-width: 400px;
    align-items: center;
    margin-left: 250px;
}

.Columnas p {
    color: #000;
    font-family: Archivo;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.96px;
}

/* Inputs */
.Columnas input {
    color: #333;
    font-size: 24px;
    padding: 15px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.Columnas input::placeholder {
    color: #a9a9a9;
}

.Columnas input:focus {
    border-color: #e1a538;
    box-shadow: 0px 4px 10px rgba(225, 165, 56, 0.3);
    transform: scale(1.02);
}

/* Row and Buttons */
.Row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.Patas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    margin-bottom: 130px;
}

.Row2 {
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
    justify-content: center;
}

/* Botones */
.Row2 button {
    background-color: #e1a538;
    border: 2px solid #d49c35;
    font-size: 24px;
    font-family: Archivo, sans-serif;
    color: #000;
    cursor: pointer;
    border-radius: 15px;
    width: 350px;
    height: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.Row2 button p {
    color: inherit;
    margin: 0;
}

.Row2 button:hover {
    background-color: #e1b54e;
    border-color: #c08b2e;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.Row2 button:active {
    background-color: #cf9b3b;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.Row2 p {
    white-space: nowrap;
    font-size: 60px;
    letter-spacing: 1.5px;
    color: #000;
}